*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: #e8e8e8;
}

/* h2 {
  font-family: 'Montserrat', sans-serif;
} */

button,
input {
  cursor: pointer;
}

.App {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  color: #0a0a0a;
}

/* navbar */
.nav-bar {
  display: flex;
  align-items: center;
  background-color: #36454f;
  height: 60px;
  box-shadow: 0 0 10px #04220e;
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-bar,
.nav-bar a {
  color: #fafafa;
  text-decoration: none;
}
.sign-in {
  border: none;
  background-color: transparent;
}
.sign-in > img {
  height: 50px;
  width: auto;
}
.sign-out {
  padding: 5px 10px;
  border-radius: 5px;
  color: #fafafa;
  box-shadow: 0 0 5px -1px #2a0118;
  background-color: #ea0385;
  font-weight: 600;
  border: 0;
}

/* splash screen */
.splash-screen {
  position: fixed;
  z-index: 100;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea0385;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-circle {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 3px solid white;
  border-top-color: transparent;
  animation: rotate 1s linear infinite;
}

/* welcome page */
.welcome {
  padding: 30px;
  text-align: center;
  margin-top: 40px;
  color: #0a3a0a;
}
.welcome :is(h2, p, img) {
  margin-bottom: 20px;
}

/* authentication */
.authentication-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-color: white;
}

.auth-logo {
  position: fixed;
  top: 1rem;
  left: 1rem;
}

.auth-close {
  position: fixed;
  font-size: 1.5rem;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.auth {
  border: 0.1rem solid black;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid grey;
  border-radius: 16px;
  height: 70%;
  width: 70%;
  max-width: 350px;
  max-height: 500px;
  padding: 1.5rem;
}

.auth-button {
  border-radius: 25px;
  border: 0;
  height: 50px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 16px;
  font-weight: 400;
}

.log-in {
  text-align: left;
}

.anon-form {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  text-align: left;
}

.anon-form label {
  font-weight: bold;
}

.anon-form input {
  height: 2rem;
  padding: 4px;
}

.anon {
  background-color: #04aa6d;
}

.anon:disabled {
  background-color: black;
}

.facebook {
  background-color: #1877f2;
}

.google {
  background-color: white;
  color: black;
  border: 0.1rem solid grey;
}

.github {
  background-color: white;
  color: black;
  border: 0.1rem solid grey;
}

/* chat component */
.chat-room-header {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #36454f;
  color: #fafafa;
  height: 30px;
  box-shadow: 0 0 10px #04220e;
}
.chat-rooms-container {
  padding: 20px;
  padding-top: 70px;
}
.chat-room-text,
.chat-room-text:visited {
  text-decoration: none;
  color: black;
}
.chat-room-back:visited {
  color: #fafafa;
}
.chat-room-back {
  text-decoration: none;
}
.chat-room-title {
  display: block;
  flex-grow: 1;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.chat-box {
  margin-top: 60px;
}
.messages-wrapper {
  padding: 30px;
  margin-bottom: 60px;
}
.chat-bubble-wrapper {
  margin-bottom: 15px;
}
.chat-bubble {
  border-radius: 20px 20px 20px 0;
  padding: 15px;
  background-color: #fff;
  color: #2a0118;
  width: max-content;
  max-width: calc(100% - 50px);
  box-shadow: -2px 2px 1px 1px #620138;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.chat-bubble.right {
  margin-left: auto;
  border-radius: 20px 20px 0 20px;
  background-color: #fff;
  box-shadow: -2px 2px 1px 1px #0b662b;
}
.chat-bubble__left {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat-container {
  padding: 16px;
  margin-top: 76px;
  display: flex;
  flex-direction: column;
}
.chat-room-select {
  display: flex;
  flex-direction: column;
}
.chat-room-select {
  padding: 16px 32px;
  margin: 8px 0;
  background-color: #fafafa;
  border-radius: 8px;
  box-shadow: 0 0 8px -2px #000;
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}
.chat-room-select:hover {
  background-color: #fff;
  box-shadow: 0 0 16px -2px #7b0246;
}
.user-name {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #04220e;
}
.user-message {
  overflow-wrap: anywhere;
}
.message-time {
  display: block;
  font-size: 0.8rem;
}
.message-time.right {
  text-align: right;
}
.send-message {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 20px 30px;
  background-color: #36454f;
  display: flex;
  box-shadow: 0 0 10px #04220e;
}
.send-message > input {
  height: 40px;
  padding: 10px 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  flex-grow: 1;
  background-color: white;
  color: #04220e;
  font-size: 1rem;
  cursor: text;
}
.send-message > input:placeholder {
  color: #ddd;
}
.send-message > :is(input, button):focus {
  outline: none;
  border-bottom: 1px solid #ea0385;
}
#imgInput {
  display: none;
}
button {
  padding: 5px 10px;
  border-radius: 8px;
  color: #fafafa;
  border: 1px solid #ea0385;
  background-color: #ea0385;
  font-weight: 600;
  font-size: large;
  transition: all 0.5s ease;
}
label[for='imgInput'] {
  border-radius: 0;
  margin-right: 2px;
  cursor: pointer;
  background-color: white;
  border-radius: 0 5px 5px 0;
  color: #04220e;
  padding: 0 12px;
  border-left: 1px solid #04220e77;
}
label[for='imgInput']:hover,
button:hover {
  filter: brightness(0.8);
}
.send-message > button {
  border-radius: 5px;
  width: 70px;
  height: 40px;
  font-size: medium;
}
.room-form {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease;
  width: 33%;
  min-width: 300px;
  gap: 10px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 16px -2px #7b0246;
  overflow: hidden;
  border-radius: 16px;
  margin-top: 8px;
}
.room-form input {
  font-size: large;
  cursor: text;
  padding: 10px;
  border-radius: 8px;
  border: 0;
}
